<article class="speakerslist jumbotron d-none d-sm-block">
  <div class="container">
    <div class="row">
    <% topSpeakers.forEach((speaker) => { %>
      <div class="col-md text-center">
        <h4 class="speakerslist-title"><%=speaker.title%></h4>
        <div class="speakerlist-name">
          with
          <a href="/speakers/<%= speaker.shortname %>"><%= speaker.name %></a>
        </div>
        <p class="speakeslist-info mt-2">
          <a href="/speakers/<%=speaker.shortname%>">
            <img src="./images/speakers/<%=speaker.shortname%>_tn.jpg" alt="Photo of <%=speaker.name %>" class="sepakerslist-img rounded-circle">
          </a>
        </p>
      </div>        
    <%})%>
    </div>
  </div>
</article>
